<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818512644308-8lr4fodj3ebv7v8epd836ji5tiv0a26l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818512644308-8lr4fodj3ebv7v8epd836ji5tiv0a26l</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Uk_VaxnZ-uPAh-hiqcUW0eQYgPIkMTs</string>
	<key>GCM_SENDER_ID</key>
	<string>818512644308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rotaMesaj</string>
	<key>PROJECT_ID</key>
	<string>rotamessage</string>
	<key>STORAGE_BUCKET</key>
	<string>rotamessage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818512644308:ios:a938f8308e56360b07d341</string>
	<key>DATABASE_URL</key>
	<string>https://rotamessage.firebaseio.com</string>
</dict>
</plist>